body, html{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    font-family: 'OpenSans', sans-serif;
}
header {
    width: 100%;
    background-color: #a01814;
    background-image: url(../img/bg_header_img.jpeg);
}
nav{
	max-width: 1170px;
	padding: 30px 0;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo a{
    text-decoration: none;
}
.logo h1{
	font-size: 22px;
    color: #ffd700;
    text-decoration: none;
}
.top_menu{
    display: flex;
}
.top_menu > li{
    list-style: none;
}
.top_menu > li > a{
    text-decoration: none;
    color: #ffd700;
    margin-left: 30px;
    font-size: 14px;
    text-transform: uppercase;
}
.top_menu > li > a:hover{
    text-decoration: underline;
}
.sub_menu{
    display: none;
    padding: 0 30px;
}
.top_menu li:hover .sub_menu,
.top_menu li a:focus + .sub_menu{
    position: absolute;
	display: block;
}
.sub_menu > li{
    list-style: none;
}
.sub_menu > li > a{
    text-decoration: none;
    color: #ffd700;
    font-size: 14px;
    text-transform: uppercase;
}
.sub_menu > li > a:hover{
    text-decoration: underline;
}
@media only screen and (max-width: 768px) {
    nav{
      justify-content: space-around;  
    }
    .top_menu {
      display: inline;
    }
}
@media only screen and (max-width: 360px) {
    nav{
      justify-content: space-around;  
    }
    .top_menu {
      display: inline;
    }
}
.contact_form{
	width: 100%;
	background-color: rgba(245, 245, 245, 1);
}
.contact_form_block{
	display: flex;
	flex-wrap: wrap;
	padding: 100px 0;
	max-width: 1170px;
	margin: auto;
	justify-content: space-between;
}
.contact_form_info{
	width: 50%;
	display: block;
}
.contact_form_info h1{
	width: 100%;
	font-size: 30px;
	font-weight: normal;
}
.contact_form_info p{
	font-size: 18px;
	width: 70%;
	padding: 25px 0;
	color: #787878;
}
.contact_form_info b{
    font-size: 16px;
	color: #000;
}
.contact_form_info span{
	width: 100%;
	line-height: 2.5;
	color: #787878;
}
.forms{
	width: 50%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
@media only screen and (max-width: 768px) {
	.contact_form_info{
		width: 100%;
		text-align: center;
	}
	.contact_form_info p{	
		width: 100%;
	}
	.forms{
		width: 100%;
		justify-content: center;
	}
}
@media only screen and (max-width: 414px){
    .contact_form_info h1{		
		font-size: 24px;	
	}
	.contact_form_info p{
		font-size: 16px;		
	}
	.contact_form_info b{
		font-size: 14px;
	}
}
footer{
	background-color: #141414;
	width: 100%;
}
.footer{
	display: flex;
	max-width: 1170px;
	margin: auto;
	justify-content: space-between;
	color: #fff;
	padding: 50px 0;
	font-size: 15px;
}
.footer_block{
    text-align: start;
	width: 33.3%;
}
.adress{
    margin: auto;
    text-align: center;
    width: 33.3%;
}
.footer ul{
    margin: auto;
    text-align: end;
    width: 33.3%;
	list-style: none;
}
.footer ul>li>a{
	color: #fff;
	text-decoration: none;
	font-size: 15px;
}
.footer a:hover{
    text-decoration: underline;
}
.footer_block h5{
	font-size: 18px;
}
@media only screen and (max-width: 768px) {
	.footer{
		flex-wrap: wrap;
	}
	.footer_block{
		width: 100%;
		text-align: center;
	}
	.adress{
		width: 100%;
	}
	.footer ul{
		width: 100%;
		text-align: center;
	}
}